@import 'variables';
@import 'mixins';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
	font-family: $font-stack;
	font-size: $font-size-base;
	color: $text-color;
	background-color: $background-color;
	margin: 0;
	padding: 0;
}

.container {
	width: $container-width;
	padding: 0 $gutter;
	@include center-block;
}
